<!-- define sidemenu -->
<div class="logo w-full">
   <img src='{{ url_for("static", filename="images/seo-design-logo.png") }}' width="190" />
</div>

<div class="menu-container w-full">
   <ul class="menu">
      <li class="menu-item"><a href="#">Spam Contenu/Discover</a></li>
      <li class="menu-item"><a href="#">Auto Image</a></li>
      <li class="menu-item"><a href="#">Backlink Generator</a></li>
      <li class="menu-item"><a href="#">Outil de Prospection</a></li>
      <li class="menu-item"><a href="#">Email Checker</a></li>
   </ul>
</div>